.index {
    &-banner {
        background-color: #1C1C1C;
        background-image: url(../images/bg_home.jpg);
        background-size: cover;
        height: 680px;
        &-box {
            background-color: #1C1C1C;
        }
        @include pad {
            height: 530px
        }
        @include mobile {
            background-image: url(../images/bg_home_mobile.jpg);
            height: 336px;
        }
        &-title {
            height: 680px;
            @include pad {
                height: 530px
            }
            @include mobile {
                height: 336px;
            }
            h2 {
                font-size: $text-4xl;
                @include mobile {
                    font-size: $text-l;
                    line-height: 35px;
                    padding: 0 $text-4xl;
                }
            }
            p {
                font-size: $text-xm;
                color: $white;
                text-align: center;
                @include mobile {
                    font-size: $text-s;
                    line-height: $text-4xl;
                }
            }
        }
        &-box {
            border: 1px solid $white;
            padding: $text-4xl 80px;
            @include mobile {
                padding: $text-xl 0;
            }
        }
    }
    &-square {
        width: 10px;
        height: 10px;
        background-color: $white;
    }
    &-square1 {
        position: absolute;
        top: -5px;
        left: -5px;
    }
    &-square2 {
        position: absolute;
        top: -5px;
        right: -5px;
    }
    &-square3 {
        position: absolute;
        bottom: -5px;
        left: -5px;
    }
    &-square4 {
        position: absolute;
        bottom: -5px;
        right: -5px;
    }
    &-about {
        background-color: $third;
        @include mobile {
            padding-bottom: 40px;
        }
        &-list {
            display: flex;
            column-gap: $text-l;
            align-items: center;
            justify-content: flex-start;
        }
        &-mdtitle {
            margin-top: $text-4xl;
            @include mobile {
                margin-top: 40px;
                display: flex;
                justify-content: center;
            }
            h3 {
                font-size: $text-2l;
                color: $white;
                padding-bottom: $text-4xl;
                @include mobile {
                    padding-bottom: $text-base;
                }
            }
            span {
                @include mobile {
                    margin-bottom: $text-l;
                }
            }
        }
        &-title {
            width: 306px;
            margin-right: 134px;
            h3 {
                font-size: $text-2l;
                color: $white;
            }
        }
        &-item {
            width: 306px;
            padding: $text-4xl 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $white;
            opacity: .5;
            margin: 80px 0;
            cursor: pointer;
            @include pad {
                width: 230px;
            }
            @include mobile {
                margin-top: 0;
                width: 336px;
                margin-bottom: $text-l;
            }
            &:hover {
                background-color: $third;
                outline: 1px solid $primary;
                border-radius: $text-xs;
                opacity: 1;
                span {
                    background-image: linear-gradient(180deg, $primary, $secondary);
                    background-clip: text;
                    color: transparent;
                }
            }
            h3 {
                font-size: $text-xm;
            }
            p {
                font-size: $text-xm;
            }
        }
        &-icon {
            font-size: 50px;
            color: $white;
        }
    }
    &-progress {
        background-color: #1C1C1C;
        color: $white;
        &-title {
            padding-top: 80px;
            @include mobile {
                padding-top: 40px;
            }
        }
        &-list {
            display: flex;
            justify-content: center;
            column-gap: $text-l;
            padding-bottom: 80px;
            @include mobile {
                padding-bottom: 40px;
            }
        }   
        &-item {
            position: relative;
            width: 306px;
            margin-top: 74px;
            border: 1px solid $white;
            border-radius: $text-xs;
            padding: $text-4xl;
            @include mobile {
                width: 95%;
                margin-top: 50px;
            }
            h3 {
                font-size: $text-l;
            }
            p {
                font-size: $text-xm;
            }
            span {
                position: absolute;
                top: -28px;
                left: $text-4xl;
                font-size: $text-4xl;
                line-height: 56px;
                color: $primary;
                background-color: #1C1C1C;
                padding: 0 8px;
                font-family: Azeret Mono;
            }
        }
    }
    &-program {
        background-color: $third;
        padding-bottom: 80px;
        @include mobile {
            padding-bottom: 40px;
        }
        &-title {
            display: flex;
            justify-content: center;
            padding-top: 80px;
            padding-bottom: $text-5xl;
            @include mobile {
                text-align: center;
                padding-top: 40px;
                padding-bottom: 26px;
            }
        }
        &-item {
            border: 1px solid $white;
            border-radius: 8px;
            a {
                text-align: center;
                padding: $text-l $text-xl;
                color: $white;
                @include mobile {
                    padding: $text-base;
                }
            }
        }
    }
    &-recommend {
        background-color: $black;
        padding-bottom: 80px;
        @include pad {
            padding-bottom: 50px
        }
        @include mobile {
            padding-bottom: 40px;
        }
        position: relative;
        &-title {
            padding-top: 80px;
            padding-bottom: $text-5xl;
            @include pad {
                padding-top: $text-4xl;
                padding-bottom: $text-2xl;
            }
            @include mobile {
                padding-top: 40px;
                padding-bottom: $text-l;
            }
        }
        &-list {
            display: flex;
            justify-content: center;
            column-gap: $text-l;
        }
        &-item {
            width: 306px;
            display: flex;
            justify-content: center;
            background-color: $third;
            border-radius: $text-l;
            @include mobile {
                width: 100%;
            }
            &:hover {
                outline: 2px solid $primary;
                border-radius: $text-l;
                cursor: pointer;
            }
        }
        &-header {
            align-items: center;
            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            h4 {
                color: $white;
            }
        }
        &-body {
            padding: 0 $text-l;
            border-bottom: 1px solid $gray-300;
            h3 {
                color: $white;
                font-size: $text-m;
                padding-bottom: 8px;
            }
            h4 {
                color: $primary;
            }
            p {
                color: $white;
                padding-bottom: $text-xl;
            }
        }
        &-footer {
            font-family: Azeret Mono;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                font-size: $text-xl;
            }
        }
        &-button {
            margin-top: $text-4xl;
            display: flex;
            justify-content: center;
            display: inline-block;
            //padding: 8px 32px;
            border-radius: 8px;
            @include mobile {
                margin-top: $text-l;
            }
            a {
                color: $white;
                padding: 8px $text-xl;
                font-size: $text-xm;
                &:hover {
                    opacity: .5;
                    border-radius: 8px;
                }
            }
        }
    }
    &-subject {
        &-item {
            color: $white;
            justify-content: center;
            align-items: center;
            position: relative;
            &:hover {
                span {
                    color: $primary;
                }
            }
            h3 {
                font-size: $text-l;
                z-index: 10;
            }
            p {
                font-size: $text-xm;
            }
            &::before {
                content: '';
                background: #1C1C1C;
                opacity: 0.9;
                width: 100%;
                height: 100%;
                padding: 0 $text-4xl;
                position: absolute;
            }
            &:hover::before {
                opacity: .12;
                transition: .6s;
            }
        }
        &-item-one {
            height: 615px;
            background-image: url(../images/info01.jpg);
            background-size: cover;
            @include pad {
                height: 520px;
            }
            @include mobile {
                height: 263px;
            }
        }
        &-item-two {
            height: 615px;
            background-image: url(../images/info02.jpg);
            background-size: cover;
            @include pad {
                height: 520px;
            }
            @include mobile {
                height: 263px;
            }
        }
        &-item-three {
            height: 615px;
            background-image: url(../images/info03.jpg);
            background-size: cover;
            @include pad {
                height: 520px;
            }
            @include mobile {
                height: 263px;
            }
        }
        &-item-four {
            height: 615px;
            background-image: url(../images/info04.jpg);
            background-size: cover;
            @include pad {
                height: 520px;
            }
            @include mobile {
                height: 263px;
            }
        }
        &-icon {
            font-size: 32px;
        }
    }
    &-article {
        background-color: #1C1C1C ;
        padding-bottom: 80px;
        @include pad {
            padding-bottom: $text-l;
        }
        @include mobile {
            padding-bottom: 40px;
        }
        &-title {
            display: flex;
            justify-content: center;
            padding-top: 80px;
            padding-bottom: 96px;
            @include pad {
                padding-top: 56px;
                padding-bottom: $text-5xl;
            }
            @include mobile {
                padding: 40px 0;
            }
        }
        &-list {
            display: flex;
            justify-content: center;
            column-gap: 88px;
        }
        &-item {
            width: 352px;
            margin-bottom: $text-xl;
            @include mobile {
                width: 336px;
            }
            &:hover {
                .index-article-square {
                    display: block;
                }
            }      
        }
        &-img {
            img {
                width: 352px;
                height: 180px;
            }
        }
        &-text {
            h3 {
                color: $white;
                font-size: $text-xm;
            }
            p{
                color: $white;
            }
            a {
                color: $primary;
                font-size: $text-xm;
                &:hover {
                    opacity: 0.5;
                }
            }

        }
        &-square {
            display: none;
            width: $text-xl;
            height: $text-xl;
            &-topLeft {
                border-top: 2px solid $primary;
                border-left: 2px solid $primary;
                border-top-left-radius: 10px;
                top: -32px;
                left: -32px;
                @include mobile {
                    top: -16px;
                    left: -16px;
                }
            }
            &-topRight {
                border-top: 2px solid $primary;
                border-right: 2px solid $primary;
                border-top-right-radius: 10px;
                top: -32px;
                right: -32px;
                @include mobile {
                    top: -16px;
                    right: -16px;
                }
            }
            &-bottomLeft {
                border-bottom: 2px solid $primary;
                border-left: 2px solid $primary;
                border-bottom-left-radius: 10px;
                bottom: -32px;
                left: -32px;
                @include mobile {
                    bottom: -16px;
                    left: -16px;
                }
            }
            &-bottomRight {
                border-bottom: 2px solid $primary;
                border-right: 2px solid $primary;
                border-bottom-right-radius: 10px;
                bottom: -32px;
                right: -32px;
                @include mobile {
                    bottom: -16px;
                    right: -16px;
                }
            }
        }
    }
    &-course {
        background-image: url(../images/bg_share.jpg);
        background-size: cover;
        @include mobile {
            background-image: none;
            background-color: $black;
            padding-bottom: 136px;
        }
        &-title {
            text-align: center;
            padding-top: 80px;
            padding-bottom: $text-5xl;
            @include mobile {
                padding: 0 38px;
                padding-top: 40px;
                padding-bottom: $text-l;
            }
        }
        &-item {
            @include pad {
                max-width: 768px;
            }
            display: flex;
            justify-content: center;
        }
        &-img {
            position: relative;
            top: 0;
            left: $text-xl;
            @include mobile {
                position: inherit;
                left: 0;
            }
            img {
                width: 525px;
                height: 381px;
                border-radius: $text-l;
                @include mobile {
                    width: 331px;
                    height: 213px;
                }
            }
        }
        &-box {
            width: 525px;
            height: 381px;
            border: 1px solid #7C7E77;
            border-radius: $text-l;
            position: absolute;
            left: 260px;
            bottom: 37px;
            z-index: -1;
            @include pad {
                width: 425px;
                height: 281px;
            }
        }
        &-card {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            left: -32px;
            bottom: -20px;
            width: 416px;
            @include mobile {
                width: 336px;
                position: absolute;
                left: 10px;
                bottom: -42px;
            }
            h3 {
                font-size: $text-xm;
            }
        }
        &-text {
            background-color: $white;
            color: #494755;
            padding: $text-xl;
            border-radius: $text-l $text-l $text-l 0;
        }
        &-photo {
            display: flex;
            justify-content: flex-end;
            position: relative;
            top: 50px;
            right: $text-xl;
            @include mobile {
                top: 40px;
            }
            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                @include mobile {
                    width: 80px;
                    height: 80px;
                }
            }
        }
    }
    &-reserve {
        background-color: $black;
        display: flex;
        align-items: center;
        justify-content: center;
        &-content {
            text-align: center;
            color: $white;
            width: 966px;
            margin: 80px 0;
            background-color: #202020;
            border-radius: $text-l;
            @include pad{
                display: flex;
                flex-direction: column;
            }
            @include mobile {
                margin-top: 40px;
                margin-bottom: 38px;
            }
        }
        &-join {
            padding: 48px 48px;
            align-items: center;
            @include pad {
                padding-bottom: 0;
            }
            @include mobile {
                padding-top: 40px;
                flex-direction: column;
            }
            span {
                font-size: 103px;
            }
        }
        &-text {
            h3 {
                font-size: $text-2l;
                @include mobile {
                    padding: $text-l 0;
                }
            }
            p {
                font-size: $text-xm;
            }
        }
        &-button {
            padding: 0 $text-4xl;
            @include pad {
                padding-top: $text-l;
                padding-bottom: $text-4xl;
            }
            @include pad {
                padding-bottom: 40px;
            }
            a {
                font-size: $text-xm;
                color: $white;
                border: 1px solid $white;
                border-radius: 8px;
                padding: 8px $text-xl;
                &:hover {
                    opacity: 0.5;
                    transition: .5s;
                }
            }
        }
    }
}
.courseSwiper {
    width: 100%;
    height: 429px;
}
.swiper-button-next:after, .swiper-button-prev:after {
    content: '';
}
.swiper-pagination-bullet {
    background-color: $primary;
    opacity: initial;
    &-active {
    width: $text-base;
    border-radius: 100px;
    }
}
.swiper-pagination {
    position: unset;
    width: auto;
}
.swiper {
    &-button-next, &-button-prev {
        position: unset;
        width: $text-l;
        height: $text-l;
        margin-top: 0;
        color: $primary;
    }
    &-buttons {
        bottom: 0;
        left: 30%;
        transform: translateX(-50%);
        z-index: 10;
        position: absolute;
    }
}
.pagination {
    position: relative;
    left: -12%;
    width: 144px;
    @include mobile {
        top: 72px;
        left: 0;
    }
}
.gradient-text-custom {
    background-image: linear-gradient(180deg, $primary, $secondary);
    background-clip: text;
    color: transparent;
}
.green-line {
    width: 50px;
    border-bottom: 3px solid $primary;
}
.subtitle {
    color: $white;
    font-size: $text-2l;
    padding-bottom: $text-base;
    @include mobile {
        font-size: $text-l;
    }
}