.pay-order{
    background-color: $black;
    &-content {
        padding: $text-4xl $text-xl;
        margin-top: $text-4xl;
        margin-bottom: 80px;
        background-color: #1C1C1C;
        width: 416px;
        color: $white;
        @include mobile {
            width: 336px;
            padding: $text-l;
            margin-top: $text-2xl;
        }
        h3 {
            font-size: $text-l;
            text-align: center;
        }
    }
    &-form {
        h4 {
            font-size: $text-xm;
            @include mobile {
                text-align: center;
            }
        }
    }
    &-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $white;
        @include mobile {
            align-items: flex-start;
            flex-direction: column;
        }
        span {
            font-family: Azeret Mono;
            font-size: $text-xm;
            line-height: 21px;
            @include mobile {
                padding-bottom: $text-l;
            }
        }
        a {
            color: $white;
            padding: 8px $text-4xl;
            border-radius: 8px;
            @include mobile {
                text-align: center;
                width: 100%;
            }
            &:hover {
                opacity: .5;
            }
        }
    }
}

.checkout {
    background-color: $black;
    &-content {
        margin-top: $text-4xl;
        margin-bottom: 135px;
        padding: $text-4xl $text-xl;
        width: 416px;
        background-color: $third;
        color: $white;
        @include mobile {
            width: 336px;
            padding: $text-l;
            margin-top: $text-2xl;
            margin-bottom: 276px;
        }
        &-title {
            h3 {
                font-size: $text-l;
                line-height: 35px;
            }
            span {
                font-size: $text-4xl;
            }
        }
        &-button {
            padding-top: $text-xl;
            @include mobile {
                padding-top: $text-l;
            }
            a {
                display: inline-block;
                font-size: $text-xm;
                line-height: 26px;
                padding: 8px $text-4xl;
                border-radius: 8px;
                color: $white;
                &:hover {
                    opacity: .5;
                }
            }
        }
    }
}